@model Blog.Ultils.PaginatedList<Blog.Models.ArticleModel>
@using System.Text.RegularExpressions;
@{
  ViewData["Title"] = "Article Page";
  ArticleCategoryModel? articleCategory = (ArticleCategoryModel)ViewData["articleCategory"]!;
}

<div class="text-center">
  <h1 class="display-4">Article</h1>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-5 mb-5 p-2">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class='nav-item'>
          <a class='nav-link @if(articleCategory == null){
          @Html.Raw("active")
}' asp-action="Index" asp-route-category="">All</a>
        </li>
        @foreach (var item in (List<ArticleCategoryModel>)ViewData["articleCategories"]!)
        {
          <li class="nav-item ">
            <a class='nav-link @if(articleCategory != null && articleCategory!.Slug == item.Slug){
          @Html.Raw("active")
}' asp-action="Index" asp-route-category="@item.Slug">@item.Name</a>
          </li>
        }
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-3 ms-auto">
      <form action="" method="get">
        @foreach (var key in Context.Request.Query.Keys)
        {
          if (key != "year" && key != "page")
          {
            <input type="hidden" name="@key" value="@Context.Request.Query[key]">
          }
        }
        <input type="hidden" name="page" value="1">
        <select name="year" class="form-control" onchange="this.form.submit()">
          <!option value="">All</!option>
          @foreach (var item in (List<int>)ViewData["distinctYears"]!)
          {
            <!option @if ((string)Context.Request.Query["year"]! == item.ToString())
            {
              @Html.Raw("selected")
            } value="@item">@item</!option>
          }
        </select>
      </form>
    </div>
  </div>
  <div class="row">
    @foreach (var item in Model)
    {
      string description = Regex.Replace(item.Content!, "<.*?>", String.Empty);
      if (item.Content!.Length > 30)
      {
        description = description!.Substring(0, 30);
      }

      <div class="col-md-3 p-3">
        <div class="card">
          <img class="card-img-top" src='@item.Image' alt="Card image cap">
          <div class="card-body">
            <p class="card-text">@item.CreatedAt</p>
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@description</p>
            <a asp-action="Detail" asp-route-slug="@item.Slug" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
    }
  </div>
  <partial name="_PaginationPartial" model="@Model" />

</div>

