@model Blog.Areas.Admin.ViewModels.Article.ArticleListViewModel
<div class="card">

  <div class="card-body">
      @if (!String.IsNullOrEmpty((string)TempData["message"]!))
  {
    <div class="alert alert-success" role="alert">@TempData["message"]</div>
  }
    <div class="row mb-3">
      <div class="col">
          <a asp-action="Add" class="btn btn-primary">ADD</a>
      </div>
    </div>
    <table class="table table-striped" id="table1">
      <thead>
        <tr>
          <th>STT</th>
          <th>Title</th>
          <th>Content</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
   
        @if (@Model.Articles != null)
        {
          var i = 0;
          foreach (var article in Model.Articles)
            {
              ++i;
              <tr>
                <td>@i</td>
                <td>@article.Title</td>
                <td>@Html.Raw(article.Content)</td>
                <td>@article.CreatedAt</td>
                <td>
                  @article.UpdatedAt
                </td>
                <td>
                  <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-primary m-2">EDIT</a>
                  <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger m-2">DELETE</a>
                  </td>
              </tr>
            }
        }


      </tbody>
    </table>
  </div>
</div>
@section Scripts {
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
}